.App {
  text-align: center;
}

.card {
  border: 2px solid green;
  background-color: rgb(168, 255, 168);
  width: 20vw;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bolder;
  flex-wrap: wrap;
}

p {
  font-weight: 400;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
